div.mxhft{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 5;
    margin:20px 0;

    span{
        @include setFont(15px, #fff, 700);
        margin-right: 10px;
    }
    
    a{
        img{
            max-height:40px;
        }
        &+a{
            margin-left:10px;
        }
    }
}
%mxh-style{
    @include boxstyle($display: flex, $align-items: center);
    position: relative;
    margin-top: 20px;
    a{
        @include boxstyle($display: inline-flex, $justify-content: center, $align-items: center);  

        &+a{
            margin-left: 6px;
        }
        img{
            max-height: 37px;
            object-fit: scale-down;
            @include transition(all 1s ease);  
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
    span{
        color:#fff;
        font-size:15px;
        margin-left: 9px;
    }
}